.myProgress {
	width: 50%;
    overflow: hidden;
    display: flex;
    height: 2rem;
    font-size: .75rem;
    background-color: #d1d3cf;
    border-radius: .25rem;
    margin: 2.5% 25%;
}

.myBar {
     width: 1%;
    height: 2rem;
    background-color: #56aab8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    transition: width .6s ease;
    font-weight: 700;
    font-size: 12px;
}

.custome{
margin: 6px 4px;
    /* padding: 5px; */
    background-color: #0643279e;
    border: 1px solid slategrey;
    color: whitesmoke;
    padding: 3.5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: .25rem;
}

#barContainer{
	text-align: center;
    /*margin: 2% 25%;
    width: 50%;*/
}
#barController{
	margin:5px;
}

.error{
    width: 50%;
    background-color: #db5858;
    border-radius: 5px;
    margin: 5% 25%;
    color: white;
}